<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Pipelines.Loader.ShowVersion, Sitecore.Kernel">
          <assemblies>
            <assembly id="Sitecore.Support.137073">Sitecore.Support.137073.dll</assembly>
          </assemblies>
        </processor>
      </initialize>
      <renderField>
        <processor type="Sitecore.Support.Pipelines.RenderField.GetFieldValue, Sitecore.Support.137073" patch:instead="processor[@type='Sitecore.Pipelines.RenderField.GetFieldValue, Sitecore.Kernel']"/>
      </renderField>
    </pipelines>
  </sitecore>
</configuration>